body {
    background-color: rgb(245, 245, 245);
}


.Horizontal {

    list-style-type: none;

}

.Horizontal li {
    display: inline;
    margin-inline: 50px;
    


}

header {
    background-color: rgb(0, 70, 140);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    color: white;
    border-radius: 20px;
    margin: 1%;
    font-family: Playfair Display;

}

nav {
    font-size: 30px;
    

}

h1 {
    font-size: 50px;
}

a {
    text-decoration: none;
    color: rgb(0, 170, 200);
    font-family: Montserrat;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

article {
    display: flex;
    margin: 0 0 100px 0;
}

div {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: solid rgb(212, 175, 55) 5px;
    margin: 0 40px 0 40px;
}

button {
    margin: 20px 0 100px 0;
}

div h2 {
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    
}

.ImgArtigo {
margin: auto;
}
.TextoArtigo{

    text-align: center;
    font font-family: Roboto;
    font-size: 20px
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 70, 140);
    padding: 50px;
    color: white;
    font-size: 15px;
    margin: 100px 0 0 0;
    
}
.email{
    margin: 0 20px 0 0;
    font-family: Montserrat;
    font-weight: normal;
}
.Instagram{
    margin: 0 0 0 20px;
    font-size: 19px;
    
}
a:hover{
    text-decoration: none;
    color: white;
    font-family: Montserrat;
}
div:hover {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 70, 140);
    color: white;
    border: solid rgb(212, 175, 55) 5px;
    margin: 0 40px 0 40px;
}